body {
  background-image: url(http://wallpapercave.com/wp/UUSiDLb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
}

h1 {
  font-family: 'Allura';font-size: 120px;
  text-align: center;
  color: #FFBE31;
  text-shadow: 4px 2px #291300;
}

.location-content {
  background: rgba(175, 175, 175, 0.2);
  border-radius: 20px;
}

h3 {
  font-family: 'Allura';font-size: 60px;
  text-align: left;
  color: #FFBE31;
  margin: 20px;
  text-shadow: 3px 2px #291300;
}

p {
  margin: 20px;
  font-family: 'Cuprum';
  font-size: 22px;
  display: inline;
}

img {
  display: inline;
  padding: 20px;
}

nav {
  font-family: 'Allura';
  font-size: 30px;
  margin: 20px;
  text-shadow: 3px 2px #291300;
  text-align: center;
  background-color: black;
  margin-top: 0px;
}

a {
  color: #FFBE31;
  text-decoration: none;
  padding: 20px;
}
